/*general css for the application*/
:root {
  --color-main: #fe8c00;
  --backgroundColorPageForms: #f6f6f6;
  --baseColorMenu: dark;
  --backgroundColorMainAplication: #e8ebef;
  --backgroundColorCrudMenu: #cdcdcd;
  --backgroundColorGreyCrudMenu: #a9a9a9;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--backgroundColorMainAplication);
  font-size: 1rem;
  font-weight: 400;
  height: calc(100vh);
  line-height: 1.5;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  --webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  max-width: 10px;
}
body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar:horizontal {
  max-height: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #fe8c00;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 1rem;
  margin-top: 0;
}
.App {
  height: calc(100vh);
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
}
/*index page styles*/
.navbarIndex {
  background-color: #f4f4f4;
  padding: 0.9% 0;
  width: 100%;
}
.sizeNormalLogoHighPass {
  height: 53px;
  width: 185px;
}
.containerContentNavbarIndex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.containerButtonsNavbarIndex {
  display: flex;
  height: 100%;
  text-decoration: none;
  width: auto;
}
.containerPrincipalButtonsIndex {
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
}

/*Estilos de la seccion principal del index*/

.s1 {
  align-items: center;
  background: #fe8c00;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  min-height: 500px;
}
.containerMainPhrase {
  align-content: center;
  align-items: center;
  align-self: center;
  flex-basis: 1;
  flex-grow: 0;
  height: auto;
  margin: 0px 10px 0px 10px;
  max-width: 570px;
}
#MainPhrase {
  color: #fff9f9;
  font-family: "Alfa Slab One";
  font-size: 60px;
  height: auto;
  line-height: 1.48;
  width: 585.3px;
}
#specifyMainPhrase {
  color: #fff9f9b7;
  display: block;
  font-family: "Roboto";
  font-weight: 200;
  height: auto;
  max-width: 570px;
}
.containerRepresentationAndInputRegister {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  max-width: 600px;
}
.containerImagesMusicalRepresentation {
  align-content: space-around;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: calc(550px);
}
.imageMusicalRepresentation {
  display: block;
  height: 130px;
  margin: 0px 5px 0px 5px;
  object-fit: cover;
  position: relative;
  width: 130px;
}
.containerInputRegisterIndex {
  align-items: center;
  display: flex;
  height: auto;
  margin: 0px 0px 5px 0px;
  width: 100%;
}
#inputRegisterIndex {
  border: none;
  border-radius: 10px;
  margin: 0px 15px 0px 50px;
  outline: none;
  padding: 12px 15px;
  width: 43%;
}
#inputRegisterIndex:focus {
  box-shadow: 0px 0px 0px 4px #ffb35d;
}
#buttonGoToRegisterForm {
  background-color: black;
  border-radius: 10px;
  color: #f4f4f4;
  font-weight: bold;
  margin: 0px 15px;
  padding: 12px 15px;
}
/*estilos separador por qué high pass*/
.containerWhyHighPass {
  background-color: #fe8c00;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
}
.ovalUp {
  height: calc(50%);
  overflow: hidden;
  width: calc(100%);
}
.ovalDown {
  height: calc(50%);
  overflow: hidden;
  width: calc(100%);
}
#semiOval {
  height: calc(100%);
  width: calc(100%);
}
#semiOvalPath {
  fill: #ffff;
  stroke: none;
}
.containerContentWhyHighPass {
  align-items: center;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  z-index: 1;
}
.containerTitleWhyHighPass {
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: center;
  width: 100%;
}
#titleWhyHighPass {
  color: var(--colorTextosContador);
  font-family: "Staatliches";
  font-size: 40px;
}
#containerCounter {
  display: flex;
  height: auto;
  justify-content: space-around;
  width: calc(95%);
}
.titleCounterStyle {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 700;
}
.counterNumber {
  font-family: "Hammersmith One";
  font-size: 20px;
  text-align: center;
}
.containerFooterWhyHighPass {
  margin: auto;
  text-align: center;
  width: 90%;
}
#textFooterWhyHighPass {
  font-family: "Barlow";
  font-size: 22px;
  font-weight: bolder;
}
/*estilos para Formulario de registro*/
.bodyForms {
  background-color: var(--backgroundColorMainAplication);
  height: 100%;
  padding: 20px;
}

.containerLogoHighPassLogin {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.containerForm {
  background-color: var(--backgroundColorPageForms);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  display: grid;
  gap: 12px;
  margin: 20px auto;
  max-width: 40rem;
  padding: 20px 30px;
}

@media (min-width: 380px) {
  .containerForm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.resizeLogoHighPass {
  height: auto;
  width: 300px;
}

.containerSelectCountry {
  padding: 0.2rem 0px;
}
input {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 0.25rem;
  caret-color: #e37f05;
  color: #393939;
  outline: none;
  padding: 8px;
  width: 100%;
}

input:focus {
  border: 1px solid #fe8c00;
}

#btnRegister {
  color: black;
  text-decoration: none;
}
#btnLogin {
  color: whitesmoke;
  text-decoration: none;
}

/* estilos formulario login*/
.loginForm {
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}
.containerButtonForm {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buttonActionForm {
  background-color: #fe8c00;
  border: 1px solid #393939;
  border-radius: 0.25rem;
  color: whitesmoke;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  text-align: center;
  user-select: none;
  width: 100%;
}
.buttonActionForm:hover {
  background-color: #e37f05;
}
.requiredField {
  border: 1px solid #ff4639;
}
.containerButtonRegister {
  grid-area: 6 / 1 / 7 / 3;
}

/*Estilo para el menu del crud*/
.containerMenu {
  background-color: var(--backgroundColorMainAplication);
  display: grid;
  height: 100%;
  padding: 20px;
}
.headerMenuNav {
  background-color: var(--backgroundColorGreyCrudMenu);
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 5rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  height: 7vh;
  margin: auto;
  width: 65%;
}

.navbarMenu {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.optionNavbarMenu {
  align-items: center;
  display: flex;
  fill: #393939;
  justify-content: center;
}
.optionNavbarMenu:hover {
  fill: #fe8c00;
}

.containerContentCrud {
  background-color: var(--backgroundColorGreyCrudMenu);
  border-radius: 1rem;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 72.9735vh;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
  width: 80vw;
  flex-direction: column;
}
.containerContentCrud::-webkit-scrollbar {
  --webkit-appearance: none;
}
.containerContentCrud::-webkit-scrollbar:vertical {
  max-width: 10px;
}
.containerContentCrud::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}
.containerContentCrud::-webkit-scrollbar:horizontal {
  max-height: 10px;
}
.containerContentCrud::-webkit-scrollbar-thumb {
  background-color: #fe8c00;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
}
.containerContentCrud::-webkit-scrollbar-track {
  border-radius: 10px;
}

.TitleCrudOptions {
  color: #f4f4f4;
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.containerBottonsOptions {
  padding: 10px 0px;
}
.containerButtonsCrudsOption {
  padding: 2px 0px;
}
.btnOptionCrud {
  margin: 0px 10px;
  padding: 5px;
}
.btnOptionCrud:hover {
  background-color: #ffb35d;
  border-color: #ffc0c0;
  color: whitesmoke;
  cursor: pointer;
}
.labelCRDoptions {
  color: whitesmoke;
}
.containerAllCRDoptions {
  margin: 5px 0px;
}
.aboutUsContainer {
  background-color: rgba(245, 245, 245, 0.314);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
  max-height: 100%;
  padding: 10px;
  width: 100%;
  height: 100%;
}
#textAboutUs {
  color: #131313;
  font-size: 20px;
}
.containerDevsSection {
  text-align: center;
}
.imgDeveloper {
  border-radius: 50%;
  width: 240px;
}
.textNameDevs {
  font-weight: bold;
  margin: 0;
}
table,
th,
td {
  padding: 6px;
  text-align: center;
}
table {
  background-color: rgba(245, 245, 245, 0.272);
  max-width: 600px;
  min-width: 300px;
}
.contContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
.tableContainer {
  display: flex;
  justify-content: space-around;
}
.titleCard {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#tableCategories {
  width: 70%;
}
table {
  border: 2px solid #fe8c00;
}
th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  padding: 5px;
}
